
.navbar-nav li a:hover, .navbar-nav li.active a {
            color: #25aae2 !important;
            background-color: #fff !important;
        }
.navbar li a, .navbar .navbar-brand {
            color: #fff !important;
        }
* Scroll Bar */
